* {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.menu-items-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: solid 1px black;
    background-color: aqua;
}

.menu-items-inactive {
    display: none;
}

.item {
    cursor: pointer;
}

.item:hover {
    border-bottom: solid 1px black;
}

